@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.menuDiv {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px gray ;
    background-color: rgba(255,255,255,1.0);
    position:fixed;
    left:0;
    top:0;
    z-index: 2;
}

.list{
    height:auto !important;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}   
.list:hover{
}
.list li{
    font-weight: 500;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width:100%;
}
.list li p {
    font-family: "Noto Sans", sans-serif;
    margin-left: 15px;
    font-size: large;
}
.list li:hover {
    background-color: rgba(240,240,240,0.7);
    color:orange;
}
.materialsIcon{
    font-size: 30px;
}
/*
@media screen and (max-width: 1500px) {
    .menuDiv {
        width:20%;
    }
}
@media screen and (max-width: 1000px) {
    .menuDiv {
        width:25%;
    }
}
@media screen and (max-width: 800px) {
    .menuDiv {
        display:none;
    }
}*/